h1, h2, h3, h4, div, span, p {
  font-family: 'Open Sans';
}

.game-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.game-box{
  width: 33%;
  text-align: center;
  margin-bottom: 24px;
}

.team-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-image{

}

.linescore-container {
  display: flex;
}

.linescore-inning {
  text-align: center;
  border: 1px solid black;
  width: 8%;
}

.linescore-inning > div:nth-child(2), .linescore-inning > div:first-child {
  border-bottom: 1px solid black;
}

@media (max-width: 1200px) {
  .game-box{
    width: 50%;
  }
}

@media (max-width: 780px) {
  .game-box{
    width: 100%;
  }
}